*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxes{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    flex-wrap: wrap;
}

.wrapper{
    background-color: lightgray;
}


.box{
    width: 400px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;
}

.title-block{
    display: flex;
     justify-content: center;
    align-items: center;
    height: 100px;
}